@model IEnumerable<DateMate.Models.Friend>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "SeeFriends";
}

<h2>My mates</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.From.Id == User.Identity.GetUserId())
            {
                @Html.DisplayFor(modelItem => item.To.NickName)
                @Html.ActionLink("See profile", "SeeProfile", "Explore", new { id = item.To.Id }, new { })
                @Html.ActionLink("Remove friend", "RemoveFriend", "Friend", new { id = item.ID }, new { })
            }
            else if (item.To.Id == User.Identity.GetUserId())
            {
                @Html.DisplayFor(modelItem => item.From.NickName)
                @Html.ActionLink("See profile", "SeeProfile", "Explore", new { id = item.From.Id }, new { })
                @Html.ActionLink("Remove friend", "RemoveFriend","Friend", new { id = item.ID }, new { })
            }
        </td>
    </tr>
}

</table>
