@model IEnumerable<DateMate.Models.Friend>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "SeeFriends";
}

<h2>My mates</h2>

<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.From.Id == User.Identity.GetUserId())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.To.NickName)
                </td>
                <td>
                @Html.ActionLink("See profile", "SeeProfile", "Explore", new { id = item.To.Id }, new { @type = "button", @class = "btn btn-primary" })
                @Html.ActionLink("Remove mate", "RemoveFriend", "Friend", new { id = item.ID }, new { @type = "button", @class = "btn btn-primary" })
                </td>
            }
            else if (item.To.Id == User.Identity.GetUserId())
            {
                <td>
                    @Html.DisplayFor(modelItem => item.From.NickName)
                </td>
                <td>
                    @Html.ActionLink("See profile", "SeeProfile", "Explore", new { @type = "button", @class = "btn btn-primary" })
                    @Html.ActionLink("Remove mate", "RemoveFriend","Friend", new { @type = "button", @class = "btn btn-primary" })
                </td>
            }
        </td>
    </tr>
}

</table>
