@using DateMate.Logic
@using Microsoft.AspNet.Identity

@{ 
    int friendreqcount = ExtensionMethods.CountFriendRequests(User.Identity.GetUserId());
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Date A Mate</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")">
                    <img width="50" height="50" src="~/Content/homelogo.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated)
                    {
                        if (friendreqcount > 0)
                        {
                            <li>@Html.ActionLink(friendreqcount+" mate requests", "ShowFriendRequest", "Friend")</li>
                        }

                        <li>@Html.ActionLink("Explore mates", "Explore", "Explore")</li>

                        <li>@using (Html.BeginForm("Explore", "Explore", FormMethod.Get))
                        {
                            <p>
                                @Html.TextBox("SearchString") 
                                <input type="submit" value="Search" />
                            </p>
                        }
                        </li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Maybe we found love right where we are.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
